[submodule "chat"]
	path = chat
	url = https://github.com/tarlyfm/tarlyfm_chat
[submodule "front"]
	path = front
	url = https://github.com/tarlyfm/tarlyfm_front
[submodule "back"]
	path = back
	url = https://github.com/tarlyfm/tarlyfm_back
