<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Chat Test</title>
</head>
<body>
	<h1>Chat</h1>
	<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
	<h2 id="chat-online-count"></h2>
	<input id="chat-message-input" type="text" size="100"/><br/>
	<input id="chat-message-submit" type="button" value="Send"/>
	<h1>Token</h1>
	<input id="chat-token" type="text" size="100"/><br/>
	<input id="update" type="button" value="Update"/>
	<input id="reload" type="button" value="Reload"/>
</body>
<script>

	var chatSocket;
	function chatSocketCreate (token) {
		var url = 'ws://' + window.location.host + '/ws/chat/';
		if (token)
			url += '?token=' + token;
		chatSocket = new WebSocket(url);

			chatSocket.onmessage = function(e) {
				var msg = JSON.parse(e.data);
				switch (msg.type) {
				case 'auth':
					if (msg.auth)
						console.warn('successfully logged in');
					else
						console.warn('login failed');
					break;
				case 'messages':
					document.querySelector('#chat-log').value += (JSON.stringify(msg.messages) + '\n');
					break;
				case 'count':
					document.querySelector('#chat-online-count').innerHTML = msg.count + ' online in chat';
					break;
				default:
					console.warn('unrecognized message type: ' + msg.type);
					break;
				}
			};

			chatSocket.onclose = function(e) {
				console.error('Chat socket closed unexpectedly');
			};
	}

	function getToken () {
		var tokenInputDom = document.querySelector('#chat-token');
		return (tokenInputDom.value || null);
	}

	chatSocketCreate();

	document.querySelector('#chat-message-input').focus();
	document.querySelector('#chat-message-input').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
			document.querySelector('#chat-message-submit').click();
		}
	};

	document.querySelector('#chat-message-submit').onclick = function(e) {

		var messageInputDom = document.querySelector('#chat-message-input');
		const message = messageInputDom.value;
		const req = new XMLHttpRequest();
		req.open('POST', 'http://' + window.location.host + '/api/chat/', false); 
		if (getToken())
			req.setRequestHeader("Authorization", "Token " + getToken());
		req.setRequestHeader("Content-Type", "application/json");
		req.send(JSON.stringify({'text': message}));

		if (req.status === 201) {
			messageInputDom.value = '';
		} else {
			console.log("Status de la réponse: %d (%s)", req.status, req.statusText);
		}
	};

	document.querySelector('#reload').onclick = function(e) {
		chatSocket.onclose = () => {console.log("chat socket reloaded");}
		chatSocket.close();
		chatSocketCreate(getToken());
	};

	document.querySelector('#update').onclick = function(e) {
		chatSocket.send(JSON.stringify({
			'action': 'auth',
			'args': {
				'content': getToken()
			}}));
	};

</script>
</html>
