html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.max-width {
  width:100%;
}
.max-height {
  height:100%;
}
.no-min-height {
  min-height: 0px;
}

.padded-x {
  padding-left: 20px;
  padding-right: 20px;
}

#layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#player-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.4);
}

#panel-container {
  width: 100%;
  padding-top:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

#left-panel {
  width: 210px;
}
#right-panel {
  width: 300px;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
#middle-panel {
  min-width: 0px;
}

#live-chat-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.center-y {
  display: flex;
  align-items: center;
}

/* Flex classes */

.fixed {
  flex: none
}

.dynamic {
  flex: auto
}

/* ************* */

.nav-extra-padding {
  padding-left: 20px;
}

#on-air-view {
  padding: 20px;

}

#replay-view {
  padding: 20px;

}

#about-view {
  padding: 20px;
  overflow: auto;
}

.texte {
  text-indent: 5px;
  font-size: 1.1em;
}

#texte_moins {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-weight: lighter;
}

#texte_plus {
  color: rgb(10, 0, 0);
}

#image_trigger_modal {
  margin-top: 10px;
}

#image_trigger_modal:hover {
  opacity: 0.8;
}

#upload-view {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.upload-dropzone {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

#upload-list {
  max-height: 100%;
  overflow-y: auto;
  flex-grow: none;
}

#adm-view {
  border: none;
}
#chatbox {
  minHeight: 0px;
  overflow: auto;
}
#menu_telephone {
  display: none;
}

@media (max-width: 700px) {
  #menu_telephone {
    display: flex;
  }
  #live-chat-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2px;
    order: 2;
  }
  #chatbox {
    overflow: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
  }
  #middle-panel {
    width: 100%;
  }
  #left-panel {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    order: 1;
  }
  #right-panel {
    display: none;
  }
  #player-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: max-content;
    border-bottom: none;
    padding: 10px;
    order: 3;
    background-color: rgba(255,255,255,0.99);
  }
  input {
    display: none;
  }
  button.ui.icon.button {
    padding: 15px;
  }
  textarea {
    opacity: 0.8;
    border: 1px solid rgba(34, 36, 38, 0.25);
  }
  #layout {
    background-image: url("http://udonradio.fr/logo.png"); /*fallback*/
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 100%), url("https://start.duckduckgo.com/?q=udon&t=vivaldi&iax=images&ia=images");
    background-position: center;
    background-size: cover; /*seems prettier than "contain". Will depend on the final logo's design.*/
    background-repeat: no-repeat;
    display: column;

    /* using a linear-gradient "trick" to vary the background-img's (which is the logo)
    alpha value so it feels light and subtle */
    /* unfortunaltely, this doesn't seem to work with older browsers. Added a fallback.
    The result'll be even prettier when we get a proper logo */

  }
}
