youtube_dl==2017.10.29
ffmpeg_python==2017.06.16
mutagen==2017.11.05

requests

django
psycopg2
djangorestframework
Pillow
pytz
django-cors-headers
djoser

channels<2
asgi_redis

celery
django_celery_results
